/* Create custom property section-tagline-transform and set it to uppercase */
:root {
    --section-tagline-transform: uppercase;
}

/* Targeting the section-tagline class */
.section-tagline {
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
}
