:root {
    --section-title-margin: 0; /* Margin for section titles */
    --section-title-color: var(--color-black); /* Color of the section titles */
}
.section-title {
    font-family: var(--font-family-title); /* Use title font */
    font-size: var(--font-size-xx-large); /* Very large font */
    font-weight: var(--font-weight-bold); /* Bold text */
    margin: var(--section-title-margin); /* Margin from custom property */
    color: var(--section-title-color); /* Text color from custom property */
}

