/* Unvisited links (only <a> elements with href) */
a:link {
}

/* Visited links */
a:visited {
    font-style: italic;
}

/* Hover state */
a:hover {
    text-decoration: underline;
}

/* Active state */
a:active {
    background-color: var(--color-light-grey);
}

