.card-services .card-title {
  margin: 0; /* Hər tərəfdən margin olmamalıdır */
}
.card-services a {
  display: block; /* Blok səviyyəsində göstər */
  padding: 2rem; /* Root elementin 2x padding-i */
  background-color: var(--color-light-grey); /* Background rəngi */
}
.card-services a:hover {
  color: var(--color-white); /* Text rəngi hover zamanı */
  background-color: var(--color-primary); /* Hover zamanı background rəngi */
  text-decoration: none; /* Text dekorasiyasını sil */
}

