.card-testimonial {
  text-align: center; /* Mətni mərkəzə düzləşdirin */
}
.card-testimonial .card-avatar {
  border-radius: 50%; /* Kənarları dairəvi edin */
  width: 10rem;       /* Root elementin 10x ölçüsü */
  height: 10rem;      /* Eyni ölçüdə hündürlük */
}
.card-testimonial .card-quote cite {
  display: block;                        /* Blok səviyyəsində göstər */
  padding-top: 1rem;                     /* Yuxarı padding əlavə et */
  color: var(--color-primary);           /* Yazı rəngi primary */
}

