.card-work .card-inner {
  position: absolute;  /* Tam mövqe */
  top: -0.1rem;
  left: -0.1rem;
  right: -0.1rem;
  z-index: 1;
}

.card-work:hover .card-inner {
  background-color: rgba(0, 0, 0, 0.7); /* Hover zamanı fon */
}

.card-work .card-title {
  text-align: center;  /* Mətni mərkəzləşdir */
  margin: 0;           /* Hər tərəfdən margin sıfır */
  opacity: 0;          /* Başlanğıcda görünməsin */
  height: 100%;        /* Tam hündürlük */
  position: relative;  /* İçindəki link üçün relative */
}

.card-work .card-title a {
  display: block;        /* Blok səviyyəsində göstər */
  text-decoration: none; /* Mətni dekorasiya etmə */
  padding-top: 45%;      /* Üst padding */
}

.card-work .card-title a::after {
  content: "";           /* İçərik boş */
  position: absolute;    /* Tam mövqe */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-work:hover .card-title {
  opacity: 1;            /* Hover zamanı görünən olsun */
}
.card-work .card-outer {
  position: relative; /* Relative mövqe */
  overflow: hidden;   /* Kartdan çıxan elementləri gizlə */
}
.card-work .card-image img {
  height: 30rem;          /* Şəklin hündürlüyü */
  width: 100%;            /* Şəklin eni */
  object-fit: cover;      /* Şəkil kəsilmədən doldursun */
  vertical-align: bottom; /* Şəklin alt hissəsi görünəcək */
}

